<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/main.css">
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app" class="app--container--shell flexbox-space-center flexdir-col">
    <img src="./assets/Vue.js_Logo_2.svg" class="logo" alt="vue logo">
    <h1 v-show="0 || 1">
      {{ fullName }} - {{ user.age }}
    </h1>
    <button v-on:click="birthday">Birthday</button>
    <br><br>
    <h1 class="header" v-html="url"></h1>
    <br><br>
    <h1 v-if="!isNewUser && isAdmin">Welcome Back, Boss</h1>
    <h1 v-else-if="!isNewUser && !isAdmin">Welcome Back, User</h1>
    <h1 v-else>Welcome New User</h1>

    <ul class="friends">
      <li v-for="(friend, index) in friends">
        <span>{{ index }}</span> - <span>{{ friend.name }}</span>
      </li>
    </ul>

  </div>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      title: 'Intro to Vue',
      url: '<a href="https://vuejs.org">Click to visit Vue!</a>',
      user: {
        first: 'Sean',
        last: 'RabbitWerks',
        age: 27,
        favoriteWords: ['javascript', 'vue', 'neat', 'awesome'],
      },
      isNewUser: true,
      isAdmin: false,
      friends: [
        {
          name: 'joshua',
        },
        {
          name: 'mathew',
        },
        {
          name: 'saahti',
        },
      ]

    },
    computed: {
      fullName() {
        return `${ this.user.first } ${ this.user.last }`
      },
      numberOfFavoriteWords() {
        console.log('computed: ', this.user.favoriteWords.length);
        return this.user.favoriteWords.length;
      }
    },
    watch: {
      title: function(newValue, oldValue) {
        console.log('New Value: ', newValue);
        console.log('Old Value: ', oldValue);

      },
      user: {
        deep: true,
        handler(newValue) {
          console.log(newValue)
        }
      }
    },
    methods: {
      birthday() {
        this.user.age++
        console.log(this.user.age)
      }
    }

  })
</script>
</body>
</html>
