<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/main.css">
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app" class="app--container--shell flexbox-space-center flexdir-col">
    <img src="./assets/Vue.js_Logo_2.svg" class="logo" alt="vue logo"
    v-on:mousemove="logPosition($event)">

    <button v-on:click="counterPlusOne">Plus One!</button>
    <span>{{ counter }}</span>

    <button @click="runLog($event)">Run Me!</button>
    
    <input type="text" v-model="name" value="hello world">

    <input type="color" v-model="color">

    <select v-model="selectedColor">
      <option v-for="color in colors" :value="color"> {{ color }} </option>
    </select>
    
  </div>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      name: '',
      color: '#ffffff',
      tel: 0,
      counter: 0,
      colors: ['black', 'red', 'green', 'yellow'],
      selectedColor: 'green',
    },
    methods: {
      counterPlusOne() {
        this.counter++
      },
      logPosition($event) {
        console.log('X:', $event.clientX, 'Y:', $event.clientY)
      },
      runLog(event) {
        console.log(event)
      }
    },
    created() {
      console.log('Vue instance has been created')
    },
    mounted() {
      console.log('Vue instance has been mounted')
    },
    beforeDestroy() {
      console.log('DESTROYED!')
    },
  })
</script>
</body>
</html>
